body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white!important;
}

body {
  background-color: black!important;
  color: white!important;
}

h1 {
  color: white!important;
}
